<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.angelsl.android.shareas">
    <uses-sdk android:targetSdkVersion="18" android:minSdkVersion="14"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".RouteActivity" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
